{% extends 'base1.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/day1.css' %}">
{% endblock %}

{% block body %}




                              <article>
            <header class="node--header node-full--header">
                <div class="l-region l-region--highlighted">
    <div id="block-maf-workout-program-maf-workout-program-top" class="block block--maf-workout-program block--maf-workout-program-maf-workout-program-top odd first block-count-1">
        <div class="block__content">
    <div class="b-workout-program-top l-content-fullwidth clearfix">
      <strong class="b-node-full-section">
      <span itemprop="articleSection">Workout Plans</span>
    </strong>
    <ul class="b-workout-program-summary list-reset--total">
          <li><strong>Goal</strong>: Strength, Hypertrophy, Fat Loss</li>
              <li><strong>Skill level</strong>: <a href="/workouts/exercise-videos/beginner">Beginner</a></li>
              <li><strong>Duration</strong>: 4 weeks</li>
              <li><strong>Days per week</strong>: 3-6</li>
              <li><strong>Type</strong>: <a href="/workouts/exercise-videos/muscle-endurance">Muscle Endurance</a>, <a href="/workouts/exercise-videos/strength-training">Strength Training</a></li>
      </ul>
  <figure class="node--big-teaser--image-big">
    <img typeof="foaf:Image" src="https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/styles/homepage_top_1440x500/public/media/new-Hero-4-week-beginner-workout-plan.jpg?itok=hs7C75bJ" width="1440" height="500" alt="Skinny man working out at gym thumbnail" title="Thin man on lat pulldown machine thumbnail" />  </figure>

  <div class="b-workout-program-header">
      <h1 class="page-title">
        <span itemprop="headline"><a href="/workouts/workout-routines/complete-mf-beginners-training-guide-plan" class="active">Beginner&#039;s Workout Challenges</a></span>
      </h1>
  </div>

  </div>
  </div>
</div>
<div id="block-maf-workout-program-maf-workout-program-top-start" class="block block--maf-workout-program block--maf-workout-program-maf-workout-program-top-start even block-count-2">
        <div class="block__content">
    <div class="b-workout-program-days-nenu">
  <select class="select--replaced" onchange="location=this.options[this.selectedIndex].value;">
         <option value="0">Jump to a day</option>
         <option value="{% url 'beginner_day1' %}">Day 1</option>
         <option value="{% url 'beginner_day2' %}">Day 2</option>
         <option value="{% url 'beginner_day3' %}">Day 3</option>
         <option value="{% url 'beginner_day4' %}">Day 4</option>
         <option value="{% url 'beginner_day5' %}">Day 5</option>
         <option value="{% url 'beginner_day6' %}">Day 6</option>
         <option value="{% url 'beginner_day7' %}">Day 7</option>
         <option value="{% url 'beginner_day8' %}">Day 8</option>
         <option value="{% url 'beginner_day9' %}">Day 9</option>
         <option value="{% url 'beginner_day10' %}">Day 10</option>
         <option value="{% url 'beginner_day11' %}">Day 11</option>
         <option value="{% url 'beginner_day12' %}">Day 12</option>
         <option value="{% url 'beginner_day13' %}">Day 13</option>
         <option value="{% url 'beginner_day14' %}">Day 14</option>
         <option value="{% url 'beginner_day15' %}">Day 15</option>
         <option value="{% url 'beginner_day16' %}">Day 16</option>
         <option value="{% url 'beginner_day17' %}">Day 17</option>
         <option value="{% url 'beginner_day18' %}">Day 18</option>
         <option value="{% url 'beginner_day19' %}">Day 19</option>
         <option value="{% url 'beginner_day20' %}">Day 20</option>
         <option value="{% url 'beginner_day21' %}">Day 21</option>
         <option value="{% url 'beginner_day22' %}">Day 22</option>
         <option value="{% url 'beginner_day23' %}">Day 23</option>
         <option value="{% url 'beginner_day24' %}">Day 24</option>
         <option value="{% url 'beginner_day25' %}">Day 25</option>
         <option value="{% url 'beginner_day26' %}">Day 26</option>
         <option value="{% url 'beginner_day27' %}">Day 27</option>
         <option value="{% url 'beginner_day28' %}">Day 28</option>
      </select>
</div>
  </div>
</div>
  </div>
            </header>
                                    <script>var utag_data = {"node_category":"WorkoutRoutines", "parent_node_category":"Workouts", "node_id":"15296", "page_category":"node", "node_tags":["Beginner Workouts", "Full Body", "Hypertrophy", "Strength Training", "Burn Fat", "Build Muscle"], "author":"Jimmy Pena MS CSCS  Joe Wuebben", "content_authored_date":"2018/01/03", "content_publish_date":"2015/03/12", "content_title":"The Complete 4-Week Beginners Workout Program", "content_type":"workout plan", "sponsored":"no", "viglinks":"off", "sponsorship_name":"none", "taboola":"on", "swoop":"off", "featured_template":"off", "instant_article":"no", "exercise_type":["Muscle Endurance", "Strength Training"], "skill_level":"Beginner", "audience_cat":[], "audience_subcat":[], "from_mf":"off", "from_flex":"off", "skimlinks":"off", "canonical_url":"workouts/workout-routines/complete-mf-beginners-training-guide-plan"}</script>
<script>if (typeof(utag_data) !== "undefined") {
    utag_data["referrer"] = document.referrer.replace(/^.*?:\/\//, "") || "none";
    utag_data.utm_source = parseUrlParams("utm_source");
	utag_data.utm_medium = parseUrlParams("utm_medium");
	utag_data.utm_campaign = parseUrlParams("utm_campaign");
    if (window.document.documentElement.clientWidth < 768) {
      utag_data["site_display_format"] = "mobile";
    }
    else if (window.document.documentElement.clientWidth > 1023) {
      utag_data["site_display_format"] = "desktop";
    }
    else {
      utag_data["site_display_format"] = "tablet";
    }
    }</script>
<script>if (typeof(window.s) === "undefined") {window.s = new Object;}</script>
<script>(function(a,b,c,d){
        a=Drupal.settings.tealium.tealium_script;
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
})();
</script>
<div id="block-maf-workout-program-maf-workout-program-content" class="block block--maf-workout-program block--maf-workout-program-maf-workout-program-content odd first block-count-1">
        <div class="block__content">
    <div class="b-workout-program-day-content">
  <h3 class="b-workout-program-day-title">
          Day 10              : <span>Rest</span>
      </h3>

  <div class="b-workout-day-summary-info b-workouts-general-directions">
                <div class="b-workout-day-summary--items">
      <strong class="b-workout-day-summary--label">Equipment</strong>
      <span class="b-workout-day-summary--value b-workout-day-summary-workouts-equipment--x">X</span>
    </div>
      </div>
      <div class="b-workout-program-day-description">
      Today is rest day. Enjoy yourself!    </div>
    </div>
  </div>
</div>


          </article>


{% endblock %}