{% extends 'base1.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/first.css' %}">
<style>
        .phase-week-day{
                color:rgb(215, 223, 238);
                border: 1px solid black;
                background-color: #3b8dbc;
        }
</style>
{% endblock %}


{% block body %}

<div id="block-maf-workout-program-maf-workout-program-content" class="block block--maf-workout-program block--maf-workout-program-maf-workout-program-content even block-count-2">
        <div class="block__content">

  <div class="b-wrokout-program-phases">
          <div class="b-workout-program-phase phase-0">
                          <div class="phase-weeks phase-0-weeks">
                          <div class="phase-week phase-0-week-0">
                                  <h4 class="phase-week-header">
                                          <span class="week-title">Week 1:</span>
                                                              <span class="week-subtitle"> Full-Body Split</span>
                                      </h4>
                                                  <ul class="phase-week-days phase-0-week-0-day list-reset--total">
                                          <li class="phase-week-day phase-0-week-0-day-0">
                                                  <strong class="day-title">Day 1</strong>
                                                                          <span class="day-subtitle">Full Body</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day1'%}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-0-day-1">
                                                  <strong class="day-title">Day 2</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day2' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-0-day-2">
                                                  <strong class="day-title">Day 3</strong>
                                                                          <span class="day-subtitle">Full Body</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day3' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-0-day-3">
                                                  <strong class="day-title">Day 4</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day4' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-0-day-4">
                                                  <strong class="day-title">Day 5</strong>
                                                                          <span class="day-subtitle">Full Body</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day5'%}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-0-day-5">
                                                  <strong class="day-title">Day 6</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day6' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-0-day-6">
                                                  <strong class="day-title">Day 7</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day7' %}" class="active">Start</a></span>
                                              </li>
                                      </ul>
                              </div>
                          <div class="phase-week phase-0-week-1">
                                  <h4 class="phase-week-header">
                                          <span class="week-title">Week 2:</span>
                                                              <span class="week-subtitle"> Two-Day Split: Upper & Lower Body</span>
                                      </h4>
                                                  <ul class="phase-week-days phase-0-week-1-day list-reset--total">
                                          <li class="phase-week-day phase-0-week-1-day-0">
                                                  <strong class="day-title">Day 8</strong>
                                                                          <span class="day-subtitle">Upper Body</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day8' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-1-day-1">
                                                  <strong class="day-title">Day 9</strong>
                                                                          <span class="day-subtitle">Lower Body</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day9' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-1-day-2">
                                                  <strong class="day-title">Day 10</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day10' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-1-day-3">
                                                  <strong class="day-title">Day 11</strong>
                                                                          <span class="day-subtitle">Upper Body</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day11' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-1-day-4">
                                                  <strong class="day-title">Day 12</strong>
                                                                          <span class="day-subtitle">Lower Body</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day12' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-1-day-5">
                                                  <strong class="day-title">Day 13</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day13' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-1-day-6">
                                                  <strong class="day-title">Day 14</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day14' %}" class="active">Start</a></span>
                                              </li>
                                      </ul>
                              </div>
                          <div class="phase-week phase-0-week-2">
                                  <h4 class="phase-week-header">
                                          <span class="week-title">Week 3:</span>
                                                              <span class="week-subtitle"> Three-Day Split: Push, Pull & Legs</span>
                                      </h4>
                                                  <ul class="phase-week-days phase-0-week-2-day list-reset--total">
                                          <li class="phase-week-day phase-0-week-2-day-0">
                                                  <strong class="day-title">Day 15</strong>
                                                                          <span class="day-subtitle">Push</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day15' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-2-day-1">
                                                  <strong class="day-title">Day 16</strong>
                                                                          <span class="day-subtitle">Pull</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day16' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-2-day-2">
                                                  <strong class="day-title">Day 17</strong>
                                                                          <span class="day-subtitle">Legs</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day17' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-2-day-3">
                                                  <strong class="day-title">Day 18</strong>
                                                                          <span class="day-subtitle">Push</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day18' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-2-day-4">
                                                  <strong class="day-title">Day 19</strong>
                                                                          <span class="day-subtitle">Pull</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day19' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-2-day-5">
                                                  <strong class="day-title">Day 20</strong>
                                                                          <span class="day-subtitle">Legs</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day20' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-2-day-6">
                                                  <strong class="day-title">Day 21</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day21' %}" class="active">Start</a></span>
                                              </li>
                                      </ul>
                              </div>
                          <div class="phase-week phase-0-week-3">
                                  <h4 class="phase-week-header">
                                          <span class="week-title">Week 4:</span>
                                                              <span class="week-subtitle"> Four-Day Split: Full Body</span>
                                      </h4>
                                                  <ul class="phase-week-days phase-0-week-3-day list-reset--total">
                                          <li class="phase-week-day phase-0-week-3-day-0">
                                                  <strong class="day-title">Day 22</strong>
                                                                          <span class="day-subtitle">Chest, Triceps, Calves</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day22' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-3-day-1">
                                                  <strong class="day-title">Day 23</strong>
                                                                          <span class="day-subtitle">Legs & Abs</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day23' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-3-day-2">
                                                  <strong class="day-title">Day 24</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day24' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-3-day-3">
                                                  <strong class="day-title">Day 25</strong>
                                                                          <span class="day-subtitle">Shoulders & Calves</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day25' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-3-day-4">
                                                  <strong class="day-title">Day 26</strong>
                                                                          <span class="day-subtitle">Back, Biceps & Abs</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day26' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-3-day-5">
                                                  <strong class="day-title">Day 27</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day27' %}" class="active">Start</a></span>
                                              </li>
                                          <li class="phase-week-day phase-0-week-3-day-6">
                                                  <strong class="day-title">Day 28</strong>
                                                                          <span class="day-subtitle">Rest</span>
                                                                          <span class="day-link"><a href="{% url 'beginner_day28' %}" class="active">Start</a></span>
                                              </li>
                                      </ul>
                              </div>
                      </div>
              </div>
      </div>
  <div class="b-start-button--bottom">
    <a class="start-button btn-default btn-big" href="{% url 'beginner_day1' %}">
        Start this program    </a>
  </div>
  </div>
</div>


{% endblock %}