{% extends 'base1.html' %}

{% load static %}

{% block head %}



{% endblock %}


{% block body %}


					<div class="article-content">
<h1>
<h2>Beginner's Diet Plan</h2>
<p><strong>• Meal 1:</strong> Contains starchy carbs<br /><strong>• Meal 2: </strong>Few carbs, if any<br /><strong>• Meal 3: </strong>Few carbs, if any<br /><strong>• Meal 4: </strong>Contains starchy carbs (post-workout nutrition)<br /><strong>• Meal 5: </strong>Contains starchy carbs</p>
<h2>Sample meal options for beginners</h2>
<p><strong>Meal 1: Granola and scrambled eggs</strong><br />&#8211; 1½ cups Greek yogurt<br />&#8211; ½ cup raspberries (switch out for 5 sliced strawberries, ½ cup blueberries, 2/3 cup blackberries, or 1 tbsp raisins)<br />&#8211; 1/3 cup <a href="https://www.bearnaked.com/en_US/products/bear-naked-granola-vanilla-almond-product.html" target="_blank">Vanilla Almond Crunch Bear Naked Granola</a> (switch out for 1/3 cup <a href="http://www.foodforlife.com/product/cereals/ezekiel-49-cinnamon-raisin-whole-grain-cereal">Ezekiel Cinnamon Raisin cereal</a>, 1/3 cup rolled oats, ¾ cup <a href="https://www.fiberone.com" target="_blank">Fiber One cereal</a>, or 2/3 cup <a href="https://www.kashi.com/our-foods/cold-cereal/kashi-cinnamon-harvest-whole-wheat-biscuits" target="_blank">Kashi Organic Cinnamon Harvest</a>)<br />&#8211; 3 omega-3 eggs</p>
<p><strong>Meal 2: Double chocolate cherry smoothie</strong><br />&#8211; 2 scoops chocolate protein powder<br />&#8211; ¼ cup coconut milk (switch out for 2 tbsp chopped walnuts)<br />&#8211; ¾ cup dark pitted cherries (switch out for 1 cup blackberries)<br />&#8211; 1 tbsp flaxseed meal (switch out for 1 tbsp chia seeds)<br />&#8211; 1 tbsp cocoa powder<br />&#8211; 3–4 ice cubes<br />&#8211; 2–3 cups water</p>
<p><strong>Meal 3: Bibb lettuce burger</strong><br />&#8211; 2 Boston bibb lettuce leaves (for “bun”)<br />&#8211; 8oz 95% lean ground beef (switch out for 6oz salmon fillet, 8oz 95% lean ground turkey burger, 8oz chicken breast, or tuna burger (1 can tuna in water, drained + 1 omega-3 egg + 1 tbsp flaxseed meal + 1 tbsp Dijon mustard)<br />&#8211; 2 slices tomato<br />&#8211; 2 slices red onion<br />&#8211; 1 tbsp ketchup<br />&#8211; 1 tbsp canola mayonnaise (switch out for 1 slice provolone cheese,1 slice cheddar cheese, 3 tbsp mashed avocado, or 1 slice American cheese)<br />&#8211; 3 cups green beans (switch out for 2 cups snow peas, 1½ cups peas and carrots, 1½ cups mixed vegetables, or ½ cup shelled edamame beans)</p>
<p><strong>Meal 4: Post-workout nutrition</strong><br />&#8211; Recovery shake containing 50g carbs + 25g protein</p>
<p><strong>Meal 5: Grilled shrimp with spinach salad and brown rice </strong><br />&#8211; 6oz shrimp (switch out for 7oz scallops, 7oz crabmeat, 6oz red snapper, or 5oz turkey breast)<br />&#8211; ¼ cup brown rice, dry measure<br />&#8211; 4 cups spinach (switch out for 7 roasted Brussels sprouts, 7 stalks roasted broccoli rabe, 4 cups shredded Napa cabbage, or 4 cups arugula)<br />&#8211; ¼ cup crumbled Feta cheese (switch out for 1oz fresh mozzarella, 1oz cubed Havarti cheese, 1oz crumbled blue cheese, or 1oz goat cheese)<br />&#8211; ½ red bell pepper, chopped<br />&#8211; 2 tsp extra-virgin olive oil (switch out for 2 tsp toasted sesame seed oil, 2 tsp garlic-infused flaxseed oil, or 2 tsp avocado oil)</p>
<p> </p>

						<!-- Table with cooking time details -->
	</h1>                        					
						
					</div><!--/.article-content-->


{% endblock %}