{% extends 'base.html' %}

{% load static %}


{% block head %}

{% endblock %}

{% block body %}

	<section id="inner-headline">
	<div class="container">
	</div>
	</section>
	<section id="content">
	<div class="container">
	
						<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Our <span class="color">Gallery</span></h3>
							
								</div>  
							</div>
						</div> 
						
	</div>
	</section>	
			  <!-- Start Gallery 1-2 -->
    <section id="gallery-1" class="content-block section-wrapper gallery-1">
    	 	<div class="container">
            <!-- /.gallery-filter -->
            
            <div class="row">
                <div id="isotope-gallery-container">
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'img/works/1.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'img/works/1.jpg' %}"class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                
                            </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'img/works/2.jpg' %}"class="img-responsive" alt="2nd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'img/works/2.jpg' %}" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src= "{% static 'img/works/3.jpg' %}" class="img-responsive" alt="3rd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'img/works/3.jpg' %}" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                
                            </div>
                    
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper creative nature">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'img/works/4.jpg' %}" class="img-responsive" alt="4th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'img/works/4.jpg' %}" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'img/works/5.jpg' %}" class="img-responsive" alt="5th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'img/works/5.jpg' %}" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'img/works/6.jpg' %}" class="img-responsive" alt="6th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'img/works/6.jpg' %}" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                
                            </div>
                            
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'img/works/2.jpg' %}"class="img-responsive" alt="2nd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'img/works/2.jpg' %}" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.isotope-gallery-container -->
            </div>
            <!-- /.row --> 
        <!-- /.container -->
		</div>
    </section>
    <!--// End Gallery 1-2 -->  
	</div>
	
{% endblock %}