{% extends 'base.html' %}

{% load static %}


{% block head %}

{% endblock %}

{% block body %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Services</h2>
            </div>
        </div>
    </div>
    </section>
    <section id="content">
        <div class="container content">     
        <!-- Service Blcoks -->
            
                        <div class="row"> 
                            <div class="col-md-12">
                                <div class="about-logo">
                                    <h3>Our Best <span class="color">Services</span></h3>
                                </div>  
                            </div>
                        </div>
                         
            <!-- Info Blcoks -->
        <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-bell-o"></i>
                <div class="info-blocks-in">
                    <h3>Trainers</h3>
                    <p>If you are looking to simply get healthier, we will match you with a one-on-one trainer who can customize each session to meet your fitness goals.</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-hdd-o"></i>
                <div class="info-blocks-in">
                    <h3>Free Check-up</h3>
                    <p>Free Check-up is for the individuals who scored good points in the challenges provided by the trainer.</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                <div class="info-blocks-in">
                    <h3>Fitness & Exercise Quizzes</h3>
                    <p>The more you know about own health and fitness, the more successful you will be during your diet.</p>
                </div>
            </div>
        </div>
        <!-- End Info Blcoks -->

       
        
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                    <div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="{% static 'img/service1.jpg' %}" alt="">  
                            <span class="card-title">Knowledge, Skills & Hardwork</span>
                        </div>
                        <div class="card-content">
                            <p>
                              Knowledge, Skills & Hardwork always pays off. It will help you to achieve your ultimate goal that is Fitness.  
                            </p>
                            <p>
                               It's worth the effort to learn what fitness looks live, how you can achieve it, how you can promote it.
                            </p>
                        </div>
                    </div>        
            </div>
               <div class="col-md-4 md-margin-bottom-40">
                    <div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="{% static 'img/service2.jpg' %}" alt="">  
                            <span class="card-title">Work Hard in Silence</span>
                        </div>
                        <div class="card-content">
                            <p>
                              Silently working hard towards their goal can cut them off from the world and they might be working hard but you never know if their hard work was placed in the right direction and they might realize it too late. 
                            </p>
                            
                        </div>
                    </div>        
            </div>
               <div class="col-md-4 md-margin-bottom-40">
                    <div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="{% static 'img/service3.jpg' %}" alt="">  
                            <span class="card-title">Fit and Healthy</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Fit and Healthy is about living your best life by exercising, eating healthy, and having fun.
                            </p>
                            <p>
                                Stop making excuses it's time to work hard and ask you friends anbd family to to work hard too.
                            </p>
                        </div>
                    </div>        
            </div> 
        </div>
        </div>
        <!-- End Service Blcoks -->
 
     

        
    </div>
    </section>


{% endblock %}